<!DOCTYPE html>
<html>

<head>
  <title>Band Listing</title>
</head>

<body>
  <h1>All Bands</h1>
  <a href="/member-create/">Create Member</a>
  <form method="post">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Enter Band">
    <input type="submit" value="POST">
  </form>
  <ul>
    {% for band in bands %}
    <li>
      <h2><a href="#">{{ band.name }}</a></h2>
      {% if band.can_rock %}<p>This band can rock!</p>{% endif %}
    </li>
    {% endfor %}
  </ul>
</body>

</html>