{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Create</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <div class="control">
            <label for="name">F.I.SH</label>
            <input type="text" name="name" placeholder="Enter your F.I.SH">
        </div><br>
        <div class="control">
            <label for="baho">Baho</label>
            <input type="number" name="baho" placeholder="Enter your Baho">
        </div><br>
        <input type="submit" value="Submit">
    </form>


</body>
</html>