{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Dars</title>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
    
</head>

<body>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Saqlash">
        <a href="/delete/{{ obj.id }}/">O'chirish</a>
    </form>

</body>

</html>
